
*~$*
*.pyc
*.ipch
.vs/*
SAM_files/*P_BPW_50_2*
SAM_files/*S_BPW_50_1*
SAM_files/*S_BPW_50_2*
SNPInfoExtraction/.vs/*
SNPInfoExtraction/x64/*
SNPInfoExtraction/*.vcxproj*
SNPInfoExtraction/*.sln
SNPInfoExtraction/Source
Test/P_BPW_50_2_filtered.sam
*.csv#
*.json
Sample_Output/
Test/
temp/sorted.sam
