
SAM_files/Filtered_out_P_BPW_50_2_R.amr.alignment.sam
SAM_files/Filtered_out_S_BPW_50_1_R.amr.alignment.sam
SAM_files/Filtered_out_S_BPW_50_2_R.amr.alignment.sam
SAM_files/Sorted_Filtered_out_P_BPW_50_2_R.amr.alignment.sam
SAM_files/P_BPW_50_2_R.amr.alignment.sam
SNPInfoExtraction/.vs/SNPInfoExtraction/v16/Browse.VC.opendb
extracted_SNP_files/~$metamarcSNPinfo_final.xlsx
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/Browse.VC.opendb
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/Browse.VC.db-wal
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/Browse.VC.db-shm
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/.suo
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/Browse.VC.db
.vs/AmrPlusPlus_SNP/v17/.suo
.vs/AmrPlusPlus_SNP/v17/Browse.VC.db
.vs/AmrPlusPlus_SNP/v17/Browse.VC.db-shm
.vs/AmrPlusPlus_SNP/v17/Browse.VC.db-wal
.vs/AmrPlusPlus_SNP/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
extracted_SNP_files/~$SNPinfo_final.xlsx
SNP_Verification/__pycache__/__init__.cpython-37.pyc
SNP_Verification/__pycache__/Gene.cpython-37.pyc
SNP_Verification/__pycache__/SNP.cpython-37.pyc
.vs/slnx.sqlite-journal
SAM_files/P_BPW_50_2_filtered.sam
.vs/VSWorkspaceState.json
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/ipch/AutoPCH/102f8d6b37915e9/KARGVADATABASE.ipch
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/.suo
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/Browse.VC.db
SNPInfoExtraction/.vs/SNPInfoExtraction/v17/ipch/AutoPCH/cc28ef9af68bd365/SOURCE.ipch
*.pyc
SNPInfoExtraction/KargvaInfoExtracion/~$matchedSNPs.docx
Test/P_BPW_50_2_filtered.sam
