
SAM_files/Filtered_out_P_BPW_50_2_R.amr.alignment.sam
SAM_files/Filtered_out_S_BPW_50_1_R.amr.alignment.sam
SAM_files/Filtered_out_S_BPW_50_2_R.amr.alignment.sam
SAM_files/Sorted_Filtered_out_P_BPW_50_2_R.amr.alignment.sam
SAM_files/P_BPW_50_2_R.amr.alignment.sam
SNPInfoExtraction/.vs/SNPInfoExtraction/v16/Browse.VC.opendb
extracted_SNP_files/~$metamarcSNPinfo_final.xlsx
